.Dealheader {
    width: 100%;
    margin-top: -170px;
    h2 {
        display: flex;
        width: 271.09px;
        height: 40px;
        color: #253D4E;
    }
    a {
        height: 10px;
        color: #3BB77E;
        text-align: right;
        font-size: 16px;
        transition: 0.5s;
    }
}