.Cbanner {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    img {}
    .ctn {
        position: absolute;
        top: 50%;
        width: 200px;
        transform: translate(50%, -50%);
        z-index: 1000;
        span {
            color: #253D4E;
            font-family: Quicksand;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28.8px;
        }
        button {
            margin-top: 15px;
            padding: 8px 28px 8px 13px;
            border-radius: 4px;
            background: #3BB77E;
            color: #FFF;
            text-align: center;
            font-family: Quicksand;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
        }
    }
    .bg-cbanner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: #fffcfc;
        z-index: 100;
        opacity: 0;
        transition: 0.5s;
        &:hover {
            opacity: 0.2;
        }
    }
}