.Listproducts {
    border-radius: 15px;
    padding: 31px;
    .ads-p {
        color: #253D4E;
        font-family: Quicksand;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28.8px;
        margin-bottom: 30px;
        padding-bottom: 17px;
        position: relative;
        border-bottom: 1px solid #ECECEC;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 80px;
            background-color: #BCE3C9;
        }
    }
    .tags {
        &:hover {
            transform: translatey(-5px);
        }
        margin-top: 15px;
        transition: 0.5s;
        .content {
            margin-left: 15px;
            img {
                width: 100px;
                height: 100px;
            }
            p {
                display: flex;
                margin: 12px 0 9px;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .op-tag {
                margin-top: 12px;
                color: #B6B6B6;
                font-family: Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                margin-right: 7px;
            }
            .np-tag {
                color: #3BB77E;
                margin-top: 12px;
                font-family: Quicksand;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
            }
            .raiting {
                margin-top: 5px;
                color: #FDC040;
            }
        }
    }
}