.Btfooter {
    border-top: 1px solid #dedede;
    padding-top: 40px;
    margin-top: 67px;
    p {
        color: #7E7E7E;
        font-size: 16px;
        width: 342px;
    }
    .hotline {
        margin: 0 20px;
        img {
            margin: 10px 10px 0 0;
            width: 30px;
            height: 30px;
            display: block;
        }
        a {
            display: block;
            color: #3BB77E;
            font-size: 26px;
        }
        span {
            color: #7E7E7E;
            font-size: 12px;
        }
    }
    .follwup {
        p {
            width: 74px;
            color: #253D4E;
            font-family: Quicksand;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 19.2px;
            /* 120% */
        }
        span {
            color: #7E7E7E;
            text-align: right;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            /* 175% */
        }
        li {
            a {
                margin: 0 2px;
                i {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: 30px;
                    height: 30px;
                    background-color: #3BB77E;
                    border-radius: 50%;
                }
            }
        }
    }
}