@import './media.scss';
@import './gird.scss';
@import'./mixin.scss';
@import'./reset.css';
@import'./flex.css';
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3BB77E;
    border-radius: 10px;
}

.container {
    max-width: 1610px;
    margin: 0 auto;
}

 :root {
    --border-radius: 20px;
    --primary-color: #3BB77E;
    --blue-color: #67bcee;
    --ornage-color: #F59758;
}

.dis {
    width: 1300px;
    padding-right: 12px;
}

img {
    max-width: 100%;
}

@media (max-width: 576px) {
    .row .col-xs-1 {
        width: 8.3333333333%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-2 {
        width: 16.6666666667%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-3 {
        width: 25%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-4 {
        width: 33.3333333333%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-5 {
        width: 41.6666666667%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-6 {
        width: 50%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-7 {
        width: 58.3333333333%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-8 {
        width: 66.6666666667%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-9 {
        width: 75%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-10 {
        width: 83.3333333333%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-11 {
        width: 91.6666666667%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .row .col-xs-12 {
        width: 100%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-1 {
        width: 8.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-2 {
        width: 16.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-3 {
        width: 25%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-4 {
        width: 33.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-5 {
        width: 41.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-6 {
        width: 50%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-7 {
        width: 58.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-8 {
        width: 66.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-9 {
        width: 75%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-10 {
        width: 83.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-11 {
        width: 91.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 577px) {
    .row .col-sm-12 {
        width: 100%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-1 {
        width: 8.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-2 {
        width: 17.6666666667%;
        padding: 18px;
        /* margin-left: 1px; */
    }
}

@media (min-width: 768px) {
    .row .col-md-3 {
        width: 25%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-4 {
        width: 33.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-5 {
        width: 41.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-6 {
        width: 50%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-7 {
        width: 58.3333333333%;
        padding: 10px10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-8 {
        width: 66.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-9 {
        width: 75%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-10 {
        width: 83.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-11 {
        width: 91.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .row .col-md-12 {
        width: 100%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-1 {
        width: 8.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-2 {
        width: 16.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-3 {
        width: 25%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-4 {
        width: 33.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-5 {
        width: 41.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-6 {
        width: 50%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-7 {
        width: 58.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-8 {
        width: 66.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-9 {
        width: 75%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-10 {
        width: 83.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-11 {
        width: 91.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .row .col-lg-12 {
        width: 100%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-1 {
        width: 8.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-2 {
        width: 16.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-2-a {
        width: 20%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-3 {
        width: 25%;
        padding: 10px10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-4 {
        width: 33.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-5 {
        width: 41.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-6 {
        width: 50%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-7 {
        width: 58.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-8 {
        width: 66.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-9 {
        width: 75%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-10 {
        width: 83.3333333333%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-11 {
        width: 91.6666666667%;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .row .col-xl-12 {
        width: 100%;
        padding: 10px;
    }
}