* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

ul,
ol {
    list-style: none;
}

a,
span {
    text-decoration: none;
    display: inline-block;
}

img {
    display: inline-block;
}

input,
button {
    border: none;
    outline: none;
    background: none;
}